.product-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.product-cont-sub {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 20px;
}

.product-cont .product {
  /* height: 320px; */
  background-color: var(--onbg);
  position: relative;
  z-index: 0;
  color: #000;
  transition: 0.3s;
  box-shadow: 4px 4px 10px 5px #aaa;
  cursor: default;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.product-cont .product .bookmark {
  color: #000;
  padding: 10px;
  position: absolute;
  font-size: 20px;
  top: 0;
  left: 0;
}

.product-cont .product .bookmark:hover {
  cursor: pointer;
}

.product-cont .product .image {
  width: 100%;
  height: 190px;
  /* padding-top: 0.7rem; */
  /* background-color: #000; */
}

.product-cont .product .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* background-color: #c81f5a; */
  /* transform: rotate(35deg); */
  cursor: pointer;
  transition: all 0.3s;
}

/* .product-cont .product > .image:hover img {
  transform: scale(106%);
} */

.product-cont .product .det {
  width: 100%;
  /* height: 40%; */
  /* background-color: #000; */
  color: #fff;
  padding: 12px 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-cont .product .det p.name {
  font-size: 13px;
  /* padding: 10px 0; */
  text-transform: uppercase;
  color: #212121;
  font-weight: bold;
  margin: 0;
  /* margin-bottom: 10px; */
}

.product-cont .product .det .brnd-cont {
  font-size: 12px;
  /* padding-top: 2px 0; */
}

.product-cont .product .det .brnd-cont .brand {
  color: #464646;
  margin: 0;
  text-transform: capitalize;
}

.product-cont .product .det .brnd-cont .price {
  color: #c81f5a;
  font-weight: bold;
  margin: 0;
  /* padding-right: 1rem; */
}

.product-cont .product .det .rating {
  /* margin: 13px 0; */
  /* padding: 2px 0; */
}
.product-cont .product .det .rating i {
  margin: 0 0.05rem;
  font-size: 13px;
  color: #aaa;
}
.product-cont .product .det .rating i:nth-child(1),
.product-cont .product .det .rating i:nth-child(2),
.product-cont .product .det .rating i:nth-child(3) {
  color: #c81f5a;
}

.product-cont .product .det .btn {
  /* padding-top: 1.2rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  /* margin: auto 0; */
  /* margin-right: 30px; */
  color: #111;
  font-size: 12px;
}

.product-cont .product .det .btn :hover {
  cursor: pointer;
  color: #c81f5a;
}

.product-cont .product .det .btn div {
  color: #c81f5a;
  font-weight: 600;
}

.product-cont .product .det .btn button {
  padding: 0.5rem 1.2rem;
  border: 1px solid #c81f5a;
  background-color: #3330;
  color: #c81f5a;
  text-transform: uppercase;
  font-size: 9px;
  transition: 0.3s;
}

.product-cont .product .det .btn button:hover {
  background-color: #c81f5a;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 950px) {
  .product-cont .product .det .btn {
    margin-right: 0;
  }
}

@media (max-width: 830px) {
  .product-cont-sub {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media (max-width: 640px) {
  .product-cont-sub {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 15px;
  }

  .product-cont .product {
    box-shadow: 1px 2px 3px 1px #aaa;
  }
}
